<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Book List</title>
    <style type="text/css">
        table {border-collapse: collapse; font-size: 14px; width: 80%; margin: auto}
        table, th, td {border: 1px solid darkslategray;padding: 10px}
    </style>
</head>
<body>
<span style="text-align: center">书籍清单</span>
<table class="table table-striped table-bordered table-hover text-center">
    <thead>
    <tr style="text-align:center">
        <th>ID</th>
        <th>书籍名</th>
        <th>书籍作者</th>
        <th>价格</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="books:${books}">
        <td th:text="${books.book_id}"></td>
        <td th:text="${books.book_name}"></td>
        <td th:text="${books.book_author}"></td>
        <td th:text="${books.book_price}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{'/buy/'+${books.book_id}}">购买</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>