<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Contact List</title>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    </head>
    <body>
    
    <div class="container">
	<div class="row">
	<div class="col-md-6 col-md-offset-3">
    
        <h1>Management</h1>
        
        <div>
            <nobr>
                <a th:href="@{/logout}">Log out</a>
            </nobr>
        </div>
        <br/><br/>
        <div>
            <table class="table table-striped" border="1">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Edit</th>
                </tr>
                <tr th:each ="user : ${users}">
                    <td><a th:href="@{/users/{user_Id}(user_id=${user.user_id})}" th:utext="${user_id}">...</a></td>
                    <td><a th:href="@{/users/{user_Id}(user_id=${user.user_id})}" th:utext="${user_name}">...</a></td>
                    <td><a th:href="@{/users/{user_Id}(user_id=${user.user_id})}" th:utext="${user_role.name}">...</a></td>
                    <td>
                        <a class="btn-danger" th:href="@{/user/deluser(id=${user.user_id})}">删除</a>
                    </td>
                </tr>
            </table>          
        </div>
        <br/><br/>
        <div>
            <table class="table table-striped" border="1">
                <tr>
                    <th>Book Id</th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Edite</th>
                </tr>
                <tr th:each ="book : $books}">
                    <td><a th:href="@{/books/{book_Id}(book_id=${book.book_id})}" th:utext="${book_id}">...</a></td>
                    <td><a th:href="@{/books/{book_Id}(book_id=${book.book_id})}" th:utext="${book_name}">...</a></td>
                    <td><a th:href="@{/books/{book_Id}(book_id=${book.book_id})}" th:utext="${book_author}">...</a></td>
                    <td><a th:href="@{/books/{book_Id}(book_id=${book.book_id})}" th:utext="${book_price}">...</a></td>
                    <td>
                        <a class="btn-primary" th:href="@{/book/risePrice(id=${book.book_id})}">价格 + 1</a>
                        <a class="btn-primary" th:href="@{/book/lowerPrice(id=${book.book_id})}">价格 - 1</a>
                        <a class="btn-danger" th:href="@{/book/delBook(id=${book.book_id})}">删除</a>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
	</div>
	</div>
        
    </body>
</html>