<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Contact List</title>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    </head>
    <body>
    
    <div class="container">
	<div class="row">
	<div class="col-md-6 col-md-offset-3">
    
        <h1>Management</h1>
        
        <div>
            <nobr>
                <a th:href="@{/logout}">Log out</a>
            </nobr>
        </div>
        <br/><br/>
        <div>
            <table class="table table-striped" border="1">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Edit</th>
                </tr>
                <tr th:each ="user : ${users}">
                    <td><a th:href="@{/users/{user_Id}(user_id=${user.user_id})}" th:utext="${user_id}">...</a></td>
                    <td><a th:href="@{/users/{user_Id}(user_id=${user.user_id})}" th:utext="${user_name}">...</a></td>
                    <td><a th:href="@{/users/{user_Id}(user_id=${user.user_id})}" th:utext="${user_role.name}">...</a></td>
                    <td>
                        <a class="btn-danger" th:href="@{/user/dele(id=${user.user_id})}">删除</a>
                    </td>
                </tr>
            </table>          
        </div>
        <br/><br/>
        <div>
            <table class="table table-striped" border="1">
                <tr>
                    <th>Book Id</th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Edite</th>
                </tr>
                <tr th:each ="book : ${books}">
                    <td><a th:utext="${book.book_id}">...</a></td>
                    <td><a th:utext="${book.book_name}">...</a></td>
                    <td><a th:utext="${book.book_author}">...</a></td>
                    <td>价格：<input class="form-control" type="text" th:value="${book.book_price}" name="price"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{'managerView/update_price/'+${books.book_id} + ${book.book_price}}">修改价格</a>
                        <a class="btn-danger" th:href="@{'managerView/delete/'+${books.book_id}}">删除</a>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
	</div>
	</div>
        
    </body>
</html>